parameters:
  level: max
  paths:
    - src
    - test/src

  excludes_analyse:
    - src/Import

  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
    - '#Method FactorioItemBrowser\\Api\\Server\\Service\\AuthorizationService::decodeSerializedToken\(\) should return stdClass but returns object\.#'

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
