parameters:
  level: max
  paths:
    - src
    - test/src

  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
    - '#Parameter \#1 \$message of method Laminas\\Log\\LoggerInterface::.*\(\) expects string, .* given.#'
    - '#Method FactorioItemBrowser\\Api\\Server\\Handler\\AbstractRequestHandler::getClientRequest\(\) should return FactorioItemBrowser\\Api\\Client\\Request\\RequestInterface but returns object\.#'
    - '#Method FactorioItemBrowser\\Api\\Server\\Service\\AuthorizationService::decodeSerializedToken\(\) should return stdClass but returns object\.#'
    - '#.* should be contravariant with parameter .* \(FactorioItemBrowser\\Api\\Client\\Request\\RequestInterface\) of method FactorioItemBrowser\\Api\\Server\\Handler\\AbstractRequestHandler::handleRequest\(\)#'
    - '#.* should be contravariant with parameter .* \(FactorioItemBrowser\\Api\\Search\\Entity\\Result\\ResultInterface\) of method FactorioItemBrowser\\Api\\Server\\SearchDecorator\\SearchDecoratorInterface\:\:.*\(\)#'
    - '#.* should be contravariant with parameter .* \(object\) of method BluePsyduck\\MapperManager\\Mapper\\MapperInterface\:\:map\(\)#'

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
