openapi: "3.0.1"
info:
  title: "Factorio Item Browser API"
  description:
    This API provides access to the mod data of the Factorio Item Browser, including item details, recipe details as
    well as any translation available from the mods.
  contact:
    name: "BluePsyduck"
    email: "bluepsyduck@gmx.com"
  version: "1.2.0"
servers:
  - url: "https://www.factorio-item-browser.com/api"
    description: "Live API server"
tags:
  - name: "Authorization"
    description: "Requests to authorize against the API."
  - name: "Export"
    description: "Requests related to the export of mod data to the browser."
  - name: "Generic"
    description: "Requests providing generic data to entities."
  - name: "Items"
    description: "Requests providing data to a specific item."
  - name: "Mods"
    description: "Requests providing mod related data."
  - name: "Recipes"
    description: "Requests providing data to a specific recipe."
  - name: "Search"
    description: "Requests to search for items, recipes etc. using queries."

paths:
  /auth:
    post:
      summary:
        Authorizes the access to the API by specifying the mods.
      description:
        This request is used to create an authorization token to be used in all other requests. Part of the
        authorization is an access key provided by the administrator, as well as the names of mods which should be
        enabled for the token. The token will last for about an hour. Whenever you encounter a 401 error in the other
        requests, re-authorize to get a new token.<br />
        <br />
        To get a first look into the API, you may use the "demo" access key. This key is restricted to base mod only,
        though.
      operationId: "auth"
      tags:
        - Authorization
      requestBody:
        $ref: "openapi/requestBodies.yaml#/auth"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/auth"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "403":
          $ref: "openapi/errorResponses.yaml#/accessDenied"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"

  /export/create:
    post:
      summary:
        Requests the combination of mods of the authorization token to be exported from the game.
      description:
        This request will trigger a new export of the combination of mods specified in the authorization token to be
        exported from the Factorio game and imported into the database. This process will take some time. The current
        status of the process can be accessed through the /export/status endpoint.
      operationId: "export.request"
      tags:
        - Export
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/export"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "403":
          $ref: "openapi/errorResponses.yaml#/accessDenied"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /export/status:
    post:
      summary:
        Provides information about the current status of the export of the mod data to the browser.
      description:
        This request provides information on how far the export process has progressed to make the dataa of the mods
        available to the browser. As long as the isAvailable flag is not true, the browser will fall back to the
        vanilla data.
      operationId: "export.status"
      tags:
        - Export
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/export"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "403":
          $ref: "openapi/errorResponses.yaml#/accessDenied"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /generic/details:
    post:
      summary:
        Provides basic data to items and recipes.
      description:
        This request provides very basic information to items and recipes, like the translated labels and description.
        It will NOT provide any additional data like ingredients and products of recipes.
      operationId: "generic.details"
      tags:
        - Generic
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
        - $ref: "openapi/parameters.yaml#/Accept-Language"
      requestBody:
        $ref: "openapi/requestBodies.yaml#/genericEntities"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/genericDetails"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /generic/icon:
    post:
      summary:
        Provides the icon file contents to specific items and recipes.
      description:
        This request will return the icon file in base64 encoding. The icons are always provided in PNG format. Make
        sure to cache the returned icons, and remember to clear the cache when the mods are changed.
        The response may contain types and names of entities not explicitely requested, but which have the same icon as
        one of the requested one.
      operationId: "generic.icon"
      tags:
        - Generic
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
        - $ref: "openapi/parameters.yaml#/Accept-Language"
      requestBody:
        $ref: "openapi/requestBodies.yaml#/genericEntities"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/genericIcon"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /item/ingredient:
    post:
      summary:
        Provides all recipes in which a specific item as an ingredient of.
      description:
        This request will return all recipes with a specific item as one of its ingredients. The recipes in the response
        will be grouped together by their name, so that normal and expensive versions will always be returned together,
        if both are available. The parameters "numberOfResults" and "indexOfFirstResult" are applied to these groups,
        not on the recipes itself.
      operationId: "item.ingredient"
      tags:
        - Items
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
        - $ref: "openapi/parameters.yaml#/Accept-Language"
      requestBody:
        $ref: "openapi/requestBodies.yaml#/itemRecipes"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/itemIngredient"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "404":
          $ref: "openapi/errorResponses.yaml#/itemNotFound"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /item/product:
    post:
      summary:
        Provides all recipes which produce a specific item.
      description:
        This request will return all recipes with a specific item as one of its products. The recipes in the response
        will be grouped together by their name, so that normal and expensive versions will always be returned together,
        if both are available. The parameters "numberOfResults" and "indexOfFirstResult" are applied to these groups,
        not on the recipes itself.
      operationId: "item.product"
      tags:
        - Items
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
        - $ref: "openapi/parameters.yaml#/Accept-Language"
      requestBody:
        $ref: "openapi/requestBodies.yaml#/itemRecipes"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/itemProduct"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "404":
          $ref: "openapi/errorResponses.yaml#/itemNotFound"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /item/random:
    post:
      summary:
        Provides random items of the currently enabled mods.
      operationId: "item.random"
      tags:
        - Items
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
        - $ref: "openapi/parameters.yaml#/Accept-Language"
      requestBody:
        $ref: "openapi/requestBodies.yaml#/itemRandom"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/itemRandom"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /mod/list:
    post:
      summary:
        Lists the mods available in the browser.
      description:
        This request will list all mods known to the browser, including whether they are enabled for the current token
        or not.
      operationId: "mod.list"
      tags:
        - Mods
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
        - $ref: "openapi/parameters.yaml#/Accept-Language"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/modList"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /recipe/details:
    post:
      summary:
        Returns the details of specific recipes, including the ingredients and products.
      description:
        This request will return all details to specific recipes. If the recipe has a normal and an expensive version,
        then both are returned. The order of the returned recipes must be assumed to be random.
      operationId: "recipe.details"
      tags:
        - Recipes
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
        - $ref: "openapi/parameters.yaml#/Accept-Language"
      requestBody:
        $ref: "openapi/requestBodies.yaml#/recipeDetails"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/recipeDetails"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /recipe/machines:
    post:
      summary:
        Returns the details of all machines able to craft the recipe.
      description:
        This request will return all machines with their details which are able to craft the recipe specified in the
        request. If the recipe supports being crafted by hand, a machine named "player" will appear in the list. When
        present, the player will be at the very first position of the results.
      operationId: "recipe.machines"
      tags:
        - Recipes
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
        - $ref: "openapi/parameters.yaml#/Accept-Language"
      requestBody:
        $ref: "openapi/requestBodies.yaml#/recipeMachines"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/recipeMachines"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "404":
          $ref: "openapi/errorResponses.yaml#/recipeNotFound"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

  /search/query:
    post:
      summary:
        Searches for items, recipes etc. using a query string.
      operationId: "search.query"
      tags:
        - Search
      parameters:
        - $ref: "openapi/parameters.yaml#/Authorization"
        - $ref: "openapi/parameters.yaml#/Accept-Language"
      requestBody:
        $ref: "openapi/requestBodies.yaml#/searchQuery"
      responses:
        "200":
          $ref: "openapi/responses.yaml#/searchQuery"
        "400":
          $ref: "openapi/errorResponses.yaml#/badRequest"
        "401":
          $ref: "openapi/errorResponses.yaml#/unauthorized"
        "500":
          $ref: "openapi/errorResponses.yaml#/unexpectedError"
      security:
        - jwt: []

components:
  schemas:
    Export:
      $ref: "openapi/schemas.yaml#/Export"
    GenericEntity:
      $ref: "openapi/schemas.yaml#/GenericEntity"
    GenericEntityWithRecipes:
      $ref: "openapi/schemas.yaml#/GenericEntityWithRecipes"
    Icon:
      $ref: "openapi/schemas.yaml#/Icon"
    Item:
      $ref: "openapi/schemas.yaml#/Item"
    Machine:
      $ref: "openapi/schemas.yaml#/Machine"
    Mod:
      $ref: "openapi/schemas.yaml#/Mod"
    Recipe:
      $ref: "openapi/schemas.yaml#/Recipe"
    RecipeWithExpensiveVersion:
      $ref: "openapi/schemas.yaml#/RecipeWithExpensiveVersion"
    Error:
      $ref: "openapi/schemas.yaml#/Error"

  securitySchemes:
    jwt:
      description: "JWT Token for the Factorio Item Browser API. Use the /auth request to receive a token."
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
